build/.ninja_deps
build/.ninja_log
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/IOApp
build/libmodern_io.a
build/libnet_io_adapters.a
build/libnet_io.a
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-be1d1b8954d9da3b6b7b.json
build/.cmake/api/v1/reply/cmakeFiles-v1-46cbbc0c411a7f50119a.json
build/.cmake/api/v1/reply/codemodel-v2-a524bb9889d61c7b8366.json
build/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/index-2025-07-01T05-24-49-0372.json
build/.cmake/api/v1/reply/target-IOApp-Debug-6f7ea9425c144eb77b0f.json
build/.cmake/api/v1/reply/target-modern_io-Debug-4b3a0a44b3b82f3241b2.json
build/.cmake/api/v1/reply/target-net_io_adapters-Debug-6f6263f14100c47f0f8c.json
build/.cmake/api/v1/reply/target-net_io-Debug-d3084baed108e2bfc6fb.json
build/.cmake/api/v1/reply/toolchains-v1-275047439d8751b5beff.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/rules.ninja
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.28.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.28.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.28.3/CMakeSystem.cmake
build/CMakeFiles/3.28.3/CompilerIdCXX/a.out
build/CMakeFiles/3.28.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/IOApp.dir/CXX.dd
build/CMakeFiles/IOApp.dir/CXXDependInfo.json
build/CMakeFiles/IOApp.dir/CXXModules.json
build/CMakeFiles/IOApp.dir/main.cpp.o
build/CMakeFiles/IOApp.dir/main.cpp.o.ddi
build/CMakeFiles/IOApp.dir/main.cpp.o.ddi.d
build/CMakeFiles/IOApp.dir/main.cpp.o.modmap
build/CMakeFiles/modern_io.dir/CXX.dd
build/CMakeFiles/modern_io.dir/CXXDependInfo.json
build/CMakeFiles/modern_io.dir/CXXModules.json
build/CMakeFiles/modern_io.dir/modern_io_buffered.ixx.o
build/CMakeFiles/modern_io.dir/modern_io_buffered.ixx.o.ddi
build/CMakeFiles/modern_io.dir/modern_io_buffered.ixx.o.ddi.d
build/CMakeFiles/modern_io.dir/modern_io_buffered.ixx.o.modmap
build/CMakeFiles/modern_io.dir/modern_io_concepts.ixx.o
build/CMakeFiles/modern_io.dir/modern_io_concepts.ixx.o.ddi
build/CMakeFiles/modern_io.dir/modern_io_concepts.ixx.o.ddi.d
build/CMakeFiles/modern_io.dir/modern_io_concepts.ixx.o.modmap
build/CMakeFiles/modern_io.dir/modern_io_data.ixx.o
build/CMakeFiles/modern_io.dir/modern_io_data.ixx.o.ddi
build/CMakeFiles/modern_io.dir/modern_io_data.ixx.o.ddi.d
build/CMakeFiles/modern_io.dir/modern_io_data.ixx.o.modmap
build/CMakeFiles/modern_io.dir/modern_io_file.ixx.o
build/CMakeFiles/modern_io.dir/modern_io_file.ixx.o.ddi
build/CMakeFiles/modern_io.dir/modern_io_file.ixx.o.ddi.d
build/CMakeFiles/modern_io.dir/modern_io_file.ixx.o.modmap
build/CMakeFiles/modern_io.dir/modern_io-buffered.pcm
build/CMakeFiles/modern_io.dir/modern_io-concepts.pcm
build/CMakeFiles/modern_io.dir/modern_io-data.pcm
build/CMakeFiles/modern_io.dir/modern_io-file.pcm
build/CMakeFiles/modern_io.dir/modern_io.ixx.o
build/CMakeFiles/modern_io.dir/modern_io.ixx.o.ddi
build/CMakeFiles/modern_io.dir/modern_io.ixx.o.ddi.d
build/CMakeFiles/modern_io.dir/modern_io.ixx.o.modmap
build/CMakeFiles/modern_io.dir/modern_io.pcm
build/CMakeFiles/net_io.dir/CXX.dd
build/CMakeFiles/net_io.dir/CXXDependInfo.json
build/CMakeFiles/net_io.dir/CXXModules.json
build/CMakeFiles/net_io.dir/net_io_base.ixx.o
build/CMakeFiles/net_io.dir/net_io_base.ixx.o.ddi
build/CMakeFiles/net_io.dir/net_io_base.ixx.o.ddi.d
build/CMakeFiles/net_io.dir/net_io_base.ixx.o.modmap
build/CMakeFiles/net_io.dir/net_io_base.pcm
build/CMakeFiles/net_io.dir/net_io_concepts.ixx.o
build/CMakeFiles/net_io.dir/net_io_concepts.ixx.o.ddi
build/CMakeFiles/net_io.dir/net_io_concepts.ixx.o.ddi.d
build/CMakeFiles/net_io.dir/net_io_concepts.ixx.o.modmap
build/CMakeFiles/net_io.dir/net_io_concepts.pcm
build/CMakeFiles/net_io.dir/net_io.ixx.o
build/CMakeFiles/net_io.dir/net_io.ixx.o.ddi
build/CMakeFiles/net_io.dir/net_io.ixx.o.ddi.d
build/CMakeFiles/net_io.dir/net_io.ixx.o.modmap
build/CMakeFiles/net_io.dir/net_io.pcm
build/CMakeFiles/net_io.dir/net_io.tcp_client.pcm
build/CMakeFiles/net_io.dir/net_io.tcp_endpoint.pcm
build/CMakeFiles/net_io.dir/net_io.tcp_server.pcm
build/CMakeFiles/net_io.dir/net_io.udp_endpoint.pcm
build/CMakeFiles/net_io.dir/net_io.udp_transport.pcm
build/CMakeFiles/net_io.dir/tcp_client.ixx.o
build/CMakeFiles/net_io.dir/tcp_client.ixx.o.ddi
build/CMakeFiles/net_io.dir/tcp_client.ixx.o.ddi.d
build/CMakeFiles/net_io.dir/tcp_client.ixx.o.modmap
build/CMakeFiles/net_io.dir/tcp_endpoint.ixx.o
build/CMakeFiles/net_io.dir/tcp_endpoint.ixx.o.ddi
build/CMakeFiles/net_io.dir/tcp_endpoint.ixx.o.ddi.d
build/CMakeFiles/net_io.dir/tcp_endpoint.ixx.o.modmap
build/CMakeFiles/net_io.dir/tcp_server.ixx.o
build/CMakeFiles/net_io.dir/tcp_server.ixx.o.ddi
build/CMakeFiles/net_io.dir/tcp_server.ixx.o.ddi.d
build/CMakeFiles/net_io.dir/tcp_server.ixx.o.modmap
build/CMakeFiles/net_io.dir/udp_endpoint.ixx.o
build/CMakeFiles/net_io.dir/udp_endpoint.ixx.o.ddi
build/CMakeFiles/net_io.dir/udp_endpoint.ixx.o.ddi.d
build/CMakeFiles/net_io.dir/udp_endpoint.ixx.o.modmap
build/CMakeFiles/net_io.dir/udp_transport.ixx.o
build/CMakeFiles/net_io.dir/udp_transport.ixx.o.ddi
build/CMakeFiles/net_io.dir/udp_transport.ixx.o.ddi.d
build/CMakeFiles/net_io.dir/udp_transport.ixx.o.modmap
build/CMakeFiles/net_io_adapters.dir/CXX.dd
build/CMakeFiles/net_io_adapters.dir/CXXDependInfo.json
build/CMakeFiles/net_io_adapters.dir/CXXModules.json
build/CMakeFiles/net_io_adapters.dir/net_io_adapters.ixx.o
build/CMakeFiles/net_io_adapters.dir/net_io_adapters.ixx.o.ddi
build/CMakeFiles/net_io_adapters.dir/net_io_adapters.ixx.o.ddi.d
build/CMakeFiles/net_io_adapters.dir/net_io_adapters.ixx.o.modmap
build/CMakeFiles/net_io_adapters.dir/net_io_adapters.pcm
